html {
	overflow-x: initial !important;
}

:root {
	--bg-color: #ffffff;
	--text-color: #333333;
	--select-text-bg-color: #B5D6FC;
	--select-text-font-color: auto;
	--monospace: "Lucida Console",Consolas,"Courier",monospace;
}

html {
	font-size: 14px;
	background-color: var(--bg-color);
	color: var(--text-color);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}

body {
	margin: 0px;
	padding: 0px;
	height: auto;
	bottom: 0px;
	top: 0px;
	left: 0px;
	right: 0px;
	font-size: 1rem;
	line-height: 1.42857;
	overflow-x: hidden;
	background: inherit;
	tab-size: 4;
}

iframe {
	margin: auto;
}

a.url {
	word-break: break-all;
}

a:active, a:hover {
	outline: 0px;
}

.in-text-selection, ::selection {
	text-shadow: none;
	background: var(--select-text-bg-color);
	color: var(--select-text-font-color);
}

#write {
	margin: 0px auto;
	height: auto;
	width: inherit;
	word-break: normal;
	overflow-wrap: break-word;
	position: relative;
	white-space: normal;
	overflow-x: visible;
	padding-top: 40px;
}

#write.first-line-indent p {
	text-indent: 2em;
}

#write.first-line-indent li p, #write.first-line-indent p * {
	text-indent: 0px;
}

#write.first-line-indent li {
	margin-left: 2em;
}

.for-image #write {
	padding-left: 8px;
	padding-right: 8px;
}

body.typora-export {
	padding-left: 30px;
	padding-right: 30px;
}

.typora-export .footnote-line, .typora-export li, .typora-export p {
	white-space: pre-wrap;
}

@media screen and (max-width: 500px) {
	body.typora-export {
		padding-left: 0px;
		padding-right: 0px;
	}

	#write {
		padding-left: 20px;
		padding-right: 20px;
	}

	.CodeMirror-sizer {
		margin-left: 0px !important;
	}

	.CodeMirror-gutters {
		display: none !important;
	}
}

#write li > figure:last-child {
	margin-bottom: 0.5rem;
}

#write ol, #write ul {
	position: relative;
}

img {
	max-width: 100%;
	vertical-align: middle;
}

button, input, select, textarea {
	color: inherit;
	font: inherit;
}

input[type="checkbox"], input[type="radio"] {
	line-height: normal;
	padding: 0px;
}

*, ::after, ::before {
	box-sizing: border-box;
}

#write h1, #write h2, #write h3, #write h4, #write h5, #write h6, #write p, #write pre {
	width: inherit;
}

#write h1, #write h2, #write h3, #write h4, #write h5, #write h6, #write p {
	position: relative;
}

p {
	line-height: inherit;
}

h1, h2, h3, h4, h5, h6 {
	break-after: avoid-page;
	break-inside: avoid;
	orphans: 2;
}

p {
	orphans: 4;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.8rem;
}

h3 {
	font-size: 1.6rem;
}

h4 {
	font-size: 1.4rem;
}

h5 {
	font-size: 1.2rem;
}

h6 {
	font-size: 1rem;
}

.md-math-block, .md-rawblock, h1, h2, h3, h4, h5, h6, p {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.hidden {
	display: none;
}

.md-blockmeta {
	color: rgb(204, 204, 204);
	font-weight: 700;
	font-style: italic;
}

a {
	cursor: pointer;
}

sup.md-footnote {
	padding: 2px 4px;
	background-color: rgba(238, 238, 238, 0.7);
	color: rgb(85, 85, 85);
	border-radius: 4px;
	cursor: pointer;
}

sup.md-footnote a, sup.md-footnote a:hover {
	color: inherit;
	text-transform: inherit;
	text-decoration: inherit;
}

#write input[type="checkbox"] {
	cursor: pointer;
	width: inherit;
	height: inherit;
}

figure {
	overflow-x: auto;
	margin: 1.2em 0px;
	max-width: calc(100% + 16px);
	padding: 0px;
}

figure > table {
	margin: 0px !important;
}

tr {
	break-inside: avoid;
	break-after: auto;
}

thead {
	display: table-header-group;
}

table {
	border-collapse: collapse;
	border-spacing: 0px;
	width: 100%;
	overflow: auto;
	break-inside: auto;
	text-align: left;
}

table.md-table td {
	min-width: 32px;
}

.CodeMirror-gutters {
	border-right: 0px;
	background-color: inherit;
}

.CodeMirror-linenumber {
	user-select: none;
}

.CodeMirror {
	text-align: left;
}

.CodeMirror-placeholder {
	opacity: 0.3;
}

.CodeMirror pre {
	padding: 0px 4px;
}

.CodeMirror-lines {
	padding: 0px;
}

div.hr:focus {
	cursor: none;
}

#write pre {
	white-space: pre-wrap;
}

#write.fences-no-line-wrapping pre {
	white-space: pre;
}

#write pre.ty-contain-cm {
	white-space: normal;
}

.CodeMirror-gutters {
	margin-right: 4px;
}

.md-fences {
	font-size: 0.9rem;
	display: block;
	break-inside: avoid;
	text-align: left;
	overflow: visible;
	white-space: pre;
	background: inherit;
	position: relative !important;
}

.md-diagram-panel {
	width: 100%;
	margin-top: 10px;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 8px;
	overflow-x: auto;
}

#write .md-fences.mock-cm {
	white-space: pre-wrap;
}

.md-fences.md-fences-with-lineno {
	padding-left: 0px;
}

#write.fences-no-line-wrapping .md-fences.mock-cm {
	white-space: pre;
	overflow-x: auto;
}

.md-fences.mock-cm.md-fences-with-lineno {
	padding-left: 8px;
}

.CodeMirror-line, twitterwidget {
	break-inside: avoid;
}

.footnotes {
	opacity: 0.8;
	font-size: 0.9rem;
	margin-top: 1em;
	margin-bottom: 1em;
}

.footnotes + .footnotes {
	margin-top: 0px;
}

.md-reset {
	margin: 0px;
	padding: 0px;
	border: 0px;
	outline: 0px;
	vertical-align: top;
	background: 0px 0px;
	text-decoration: none;
	text-shadow: none;
	float: none;
	position: static;
	width: auto;
	height: auto;
	white-space: nowrap;
	cursor: inherit;
	-webkit-tap-highlight-color: transparent;
	line-height: normal;
	font-weight: 400;
	text-align: left;
	box-sizing: content-box;
	direction: ltr;
}

li div {
	padding-top: 0px;
}

blockquote {
	margin: 1rem 0px;
}

li .mathjax-block, li p {
	margin: 0.5rem 0px;
}

li {
	margin: 0px;
	position: relative;
}

blockquote > :last-child {
	margin-bottom: 0px;
}

blockquote > :first-child, li > :first-child {
	margin-top: 0px;
}

.footnotes-area {
	color: rgb(136, 136, 136);
	margin-top: 0.714rem;
	padding-bottom: 0.143rem;
	white-space: normal;
}

#write .footnote-line {
	white-space: pre-wrap;
}

@media print {
	body, html {
		border: 1px solid transparent;
		height: 99%;
		break-after: avoid;
		break-before: avoid;
	}

	#write {
		margin-top: 0px;
		padding-top: 0px;
		border-color: transparent !important;
	}

	.typora-export * {
		-webkit-print-color-adjust: exact;
	}

	html.blink-to-pdf {
		font-size: 13px;
	}

	.typora-export #write {
		padding-left: 32px;
		padding-right: 32px;
		padding-bottom: 0px;
		break-after: avoid;
	}

	.typora-export #write::after {
		height: 0px;
	}
}

.footnote-line {
	margin-top: 0.714em;
	font-size: 0.7em;
}

a img, img a {
	cursor: pointer;
}

pre.md-meta-block {
	font-size: 0.8rem;
	min-height: 0.8rem;
	white-space: pre-wrap;
	background: rgb(204, 204, 204);
	display: block;
	overflow-x: hidden;
}

p > .md-image:only-child:not(.md-img-error) img, p > img:only-child {
	display: block;
	margin: auto;
}

p > .md-image:only-child {
	display: inline-block;
	width: 100%;
}

#write .MathJax_Display {
	margin: 0.8em 0px 0px;
}

.md-math-block {
	width: 100%;
}

.md-math-block:not(:empty)::after {
	display: none;
}
[contenteditable="true"]:active, [contenteditable="true"]:focus {
	outline: 0px;
	box-shadow: none;
}

.md-task-list-item {
	position: relative;
	list-style-type: none;
}

.task-list-item.md-task-list-item {
	padding-left: 0px;
}

.md-task-list-item > input {
	position: absolute;
	top: 0px;
	left: 0px;
	margin-left: -1.2em;
	margin-top: calc(1em - 10px);
	border: none;
}

.math {
	font-size: 1rem;
}

.md-toc {
	min-height: 3.58rem;
	position: relative;
	font-size: 0.9rem;
	border-radius: 10px;
}

.md-toc-content {
	position: relative;
	margin-left: 0px;
}

.md-toc-content::after, .md-toc::after {
	display: none;
}

.md-toc-item {
	display: block;
	color: rgb(65, 131, 196);
}

.md-toc-item a {
	text-decoration: none;
}

.md-toc-inner:hover {
	text-decoration: underline;
}

.md-toc-inner {
	display: inline-block;
	cursor: pointer;
}

.md-toc-h1 .md-toc-inner {
	margin-left: 0px;
	font-weight: 700;
}

.md-toc-h2 .md-toc-inner {
	margin-left: 2em;
}

.md-toc-h3 .md-toc-inner {
	margin-left: 4em;
}

.md-toc-h4 .md-toc-inner {
	margin-left: 6em;
}

.md-toc-h5 .md-toc-inner {
	margin-left: 8em;
}

.md-toc-h6 .md-toc-inner {
	margin-left: 10em;
}

@media screen and (max-width: 48em) {
	.md-toc-h3 .md-toc-inner {
		margin-left: 3.5em;
	}

	.md-toc-h4 .md-toc-inner {
		margin-left: 5em;
	}

	.md-toc-h5 .md-toc-inner {
		margin-left: 6.5em;
	}

	.md-toc-h6 .md-toc-inner {
		margin-left: 8em;
	}
}

a.md-toc-inner {
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	line-height: inherit;
}

.footnote-line a:not(.reversefootnote) {
	color: inherit;
}

.md-attr {
	display: none;
}

.md-fn-count::after {
	content: ".";
}

code, pre, samp, tt {
	font-family: var(--monospace);
}

kbd {
	margin: 0px 0.1em;
	padding: 0.1em 0.6em;
	font-size: 0.8em;
	color: rgb(36, 39, 41);
	background: rgb(255, 255, 255);
	border: 1px solid rgb(173, 179, 185);
	border-radius: 3px;
	box-shadow: rgba(12, 13, 14, 0.2) 0px 1px 0px, rgb(255, 255, 255) 0px 0px 0px 2px inset;
	white-space: nowrap;
	vertical-align: middle;
}

.md-comment {
	color: rgb(162, 127, 3);
	opacity: 0.8;
	font-family: var(--monospace);
}

code {
	text-align: left;
	vertical-align: initial;
}

a.md-print-anchor {
	white-space: pre !important;
	border-width: initial !important;
	border-style: none !important;
	border-color: initial !important;
	display: inline-block !important;
	position: absolute !important;
	width: 1px !important;
	right: 0px !important;
	outline: 0px !important;
	background: 0px 0px !important;
	text-decoration: initial !important;
	text-shadow: initial !important;
}

.md-inline-math .MathJax_SVG .noError {
	display: none !important;
}

.html-for-mac .inline-math-svg .MathJax_SVG {
	vertical-align: 0.2px;
}

.md-math-block .MathJax_SVG_Display {
	text-align: center;
	margin: 0px;
	position: relative;
	text-indent: 0px;
	max-width: none;
	max-height: none;
	min-height: 0px;
	min-width: 100%;
	width: auto;
	overflow-y: hidden;
	display: block !important;
}

.MathJax_SVG_Display, .md-inline-math .MathJax_SVG_Display {
	width: auto;
	margin: inherit;
	display: inline-block !important;
}

.MathJax_SVG .MJX-monospace {
	font-family: var(--monospace);
}

.MathJax_SVG .MJX-sans-serif {
	font-family: sans-serif;
}

.MathJax_SVG {
	display: inline;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	zoom: 90%;
	text-indent: 0px;
	text-align: left;
	text-transform: none;
	letter-spacing: normal;
	word-spacing: normal;
	overflow-wrap: normal;
	white-space: nowrap;
	float: none;
	direction: ltr;
	max-width: none;
	max-height: none;
	min-width: 0px;
	min-height: 0px;
	border: 0px;
	padding: 0px;
	margin: 0px;
}

.MathJax_SVG * {
	transition: none 0s ease 0s;
}

.MathJax_SVG_Display svg {
	vertical-align: middle !important;
	margin-bottom: 0px !important;
	margin-top: 0px !important;
}

.os-windows.monocolor-emoji .md-emoji {
	font-family: "Segoe UI Symbol", sans-serif;
}

.md-diagram-panel > svg {
	max-width: 100%;
}
[lang="mermaid"] svg, [lang="flow"] svg {
	max-width: 100%;
	height: auto;
}
[lang="mermaid"] .node text {
	font-size: 1rem;
}

table tr th {
	border-bottom: 0px;
}

video {
	max-width: 100%;
	display: block;
	margin: 0px auto;
}

iframe {
	max-width: 100%;
	width: 100%;
	border: none;
}

.highlight td, .highlight tr {
	border: 0px;
}

svg[id^="mermaidChart"] {
	line-height: 1em;
}

mark {
	background: rgb(255, 255, 0);
	color: rgb(0, 0, 0);
}

.md-html-inline .md-plain, .md-html-inline strong, mark .md-inline-math, mark strong {
	color: inherit;
}

mark .md-meta {
	color: rgb(0, 0, 0);
	opacity: 0.3 !important;
}


 /*page layout & fonts*/
body {
	margin-top: 100px;
	margin-bottom: 100px;
}

#write {
	font-family: sans-serifï¼ŒGeorgia;
	font-size: 13px;
	text-align: justify;
} 
 
 /*headers*/
h1 {
	text-align: left;
	font-family: Georgia;
	font-weight: normal;
	font-size: 2em;
	margin-top: 1.5em;
	margin-bottom: 0.25em;
	border-bottom: 1px solid rgb(162, 169, 177);
}

h2 {
	text-align: left;
	font-family: Georgia;
	font-weight: normal;
	font-size: 1.5em;
	margin-top: 1em;
	margin-bottom: 0.25em;
	border-bottom: 1px solid rgb(162, 169, 177);
}

h3 {
	text-align: left;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 1.25em;
	margin-top: .5em;
	margin-bottom: .5em;
}

h4 {
	text-align: left;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 1.15em;
	margin-top: .5em;
	margin-bottom: .5em;
}

h5 {
	text-align: left;
	font-family: sans-serif;
	font-weight: normal;
	font-style: italic;
	font-size: 1.15em;
	margin-top: .5em;
	margin-bottom: .5em;
}

h6 {
	text-align: left;
	font-family: sans-serif;
	font-weight: normal;
	font-style: italic;
	font-size: 1em;
	margin-top: .5em;
	margin-bottom: .5em;
}
 
 /*normal texts*/
p {
	font-family: georgia;
	font-size: 1em;
	line-height: 1.6em;
	color: #222222;
	margin-top: .5em;
	margin-bottom: .5em;
	margin-right: 0;
	margin-left: 0;
} 
 
 /*quote block*/
blockquote {
	margin-top: 1em;
	margin-bottom: 1em;
	margin-right: 0;
	margin-left: 2em;
	padding-left: 1em;
	padding-top: 0px;
	padding-bottom: 0px;
	border-left: 0px rgb(162, 169, 177) solid;
	font-style: italic;
	font-size: 1em;
} 
 
 /*Code font*/
pre, code, kbd, samp {
	font-family: consolas, monospace;
	font-size: 0.9em;
}
 
 /*code block*/
.md-fences {
	border: 1px solid rgb(234, 236, 240);
	background: rgb(248, 249, 250);
	border-radius: 0px;
	margin-bottom: 1em;
	margin-top: 1em;
	padding: 1em 1em;
	font-size: 1em;
}

.CodeMirror-lines {
	padding-left: 4px;
}

.code-tooltip {
	box-shadow: 0 1px 1px 0 #999999;
	border-top: 1px solid #eef2f2;
}
 
 /*inline code*/
code {
	border: 1px solid rgb(234, 236, 240);
	background: rgb(248, 249, 250);
	border-radius: 1px;
	padding: 2px 4px 0px 4px;
}
 
 /*table*/
table {
	font-family: sans-serif;
	font-size: 1em;
	text-align: left;
} 
 /*first row of the table*/
thead {
	text-align: center;
	background: rgb(234, 236, 240);
}
 /*conent in the first row*/ 
th {
	font-weight: bold;
	border: 1px solid rgb(162, 169, 177);
	padding: 0.1em 0.5em;
}

td {
	border: 1px solid rgb(162, 169, 177);
	padding: 0.1em 0.5em;
}
 
 /*TOC*/
.md-toc {
	font-size: 1em;
	background: rgba(248,249,250,1);
	border: 1px solid rgba(162, 169, 177,1);
	border-radius: 0px;
	margin-left: 0.1em;
	margin-right: 0.1em;
}
 
 /*Image*/
img {
	zoom: .5;
	border: 1px solid rgb(162, 169, 177);
	padding: 5px;
	background: rgb(248, 249, 250);
}
 
 /*unordered list, ordered List*/
ul, ol {
	margin: 0;
	padding: 0 0 0 2em;
}
 
 /*defination list*/
dt {
	font-weight: bold
}

dd {
	margin: 0 0 0 2em;
}

dfn {
	font-style: italic;
}
 
 /*Footnote*/
sup.md-footnote {
	background-color: initial;
}

.footnotes {
	font-size: 1em;
	color: black;
}
 
 /*Hyperlink*/
a {
	color: rgb(6, 64, 161);
	text-decoration: none;
}

a:hover {
	color: rgb(6, 64, 161);
	text-decoration-line: underline
} 